<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="checkId" resultType="java.lang.Integer">
		select count(*) from member where id=#{idmail}
	</select>
	<select id="checkEmail" resultType="java.lang.Integer">
		select count(*) from member where email=#{idmail}
	</select>
	<insert id="addMember">
		insert into member(id, pass, email) values(#{id}, #{pass}, #{email})
	</insert>
	<insert id="addDetail">
		insert into detail(id) values(#{id})
	</insert>
	<select id="checkLogin" resultType="java.lang.Integer">
		select count(*) from member where (id=#{idmail} or email=#{idmail}) and pass=#{pass}
	</select>
	<select id="getInfo" resultType="java.util.HashMap">
		select m.*,d.name,d.gender,d.birth,d.address from member m left join detail d on m.id=d.id where m.id=#{idmail}
	</select>
</mapper>